h2 {
  color: green;
  font-style: italic;
}

p {
  color: maroon;
  font-size: medium;
  font-weight: 800;
}

.delete {
  color:darkslateblue;
  padding-top: 3px;
  font-size: 18px;
}

.error {
  color:rgb(66, 36, 116);
  background: rgb(187, 200, 212);
  font-size: 18px;
  border-style: solid;
  border-radius: 10px;
  padding: 8px;
  margin-bottom: 10px;
}